html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}

/*****************************/
/*** CUSTOM HUE PICKER CSS ***/
/*****************************/

.react-colorful {
  padding: 10px;
  border-radius: 10px;
  background: #33333a;
}

.react-colorful__saturation {
  margin: 3px;
  border-radius: 5px !important;
  border-bottom: none;
}

.react-colorful__hue {
  margin: 3px;
  border-radius: 5px !important;
}

#exampleForm.ControlInput1 {
  width: 200px;
}

/* ESSENTIAL: THESE ONES ARE WHAT MAKE THE HUE SLIDER A SLIDER */

.hue-only .react-colorful__saturation,
.hue-only .react-colorful__alpha {
  display: none;
}

.hue-only .react-colorful {
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

/**************************/
/*** OTHER PREFERENCES CSS ***/
/**************************/

.bg-secondary {
  border-radius: 10px;
  padding: 5px;
}

.color-input {
  height: 300px;
  width: 300px;
}

.palette-input {
  width: 300px;
}

.color-reference {
  border-radius: 5px;
  padding: 5px;
}

/* this makes the hex input look pretty */
.hex-input {
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin: 10px 55px 0;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #eee;
  outline: none;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
}

.hex-input:focus {
  border-color: #4298ef;
}

.togglebutton {
  margin-bottom: 20px;
}

/*******************/
/*** BUTTON HELL ***/
/*******************/

.btn-rainbow {
  background: linear-gradient(
    45deg,
    #dc3b3e,
    #3b99dc 50%,
    #3bdc90 75%,
    rgb(255 141 0) 100%
  ) !important;
  border-color: black !important;
}

.btn-neon {
  background: #91ff00 !important;
}

.btn-pastel {
  background: #c2ee8c !important;
}

.btn-notrainbow {
  background: linear-gradient(
    45deg,
    #3bdcd4,
    #3b99dc 50%,
    #3b46dc 75%,
    #733bdc 100%
  ) !important;
  border-color: black !important;
}

.btn-bold {
  background: black !important;
  color: yellow !important;
}

.btn-subtle {
  background: darkblue !important;
  color: darkorange !important;
}

/*******************/
/*** FAKE-UI CSS ***/
/*******************/

.palette-box-overflow {
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.palette-box {
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.fake-header {
  background-color: #000000;
}

.fake-title {
  font-weight: bold;
  text-align: left;
}

.fake-body {
  padding: 5px;
}

.fake-main-window {
  background-color: #909090;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.fake-secondary-window {
  background-color: #f5f5f5;
  color: black;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

.fake-button {
  background-color: #ffffff;
  margin: 2px;
  border-radius: 2px;
}

.fake-alert {
  background-color: #ffffff;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}

/* OTHER PALETTEPAGE CSS */

.color-list {
  border-radius: 10px;
  overflow: hidden;
  padding: 0px !important;
  margin: 5px;
}

.palette-title {
  margin-top: 25px;
}

.fakesite-box {
  height: 270px;
}
